# Configuración de Base de Datos MySQL
MYSQL_DATABASE=tienda_online
MYSQL_ROOT_PASSWORD=root123
MYSQL_USER=tienda_user
MYSQL_PASSWORD=tienda_pass

# Configuración de phpMyAdmin
PMA_HOST=mysql
PMA_PORT=3306
PMA_USER=root
PMA_PASSWORD=root123

# Configuración para el Backend
DB_HOST=localhost
DB_PORT=3306
DB_USER=tienda_user
DB_PASSWORD=tienda_pass
DB_NAME=tienda_online
